body {
    display:flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
}
body > * {
    margin: 5px 0;
}
.app-icon {
    display: flex;
    justify-content: center;
}
.upload-button {
    margin: 5px -5px;
    display:flex;
}
#refresh {
    margin: 0 5px;
    flex: 1 1 25%;
}
#upload {
    margin: 0 5px;
    flex: 1 1 75%;
}
.hidden {
    display: none;
}
